body {
    /* background-color: #34864f; */
    background: radial-gradient(#437e48, #215225);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    position: center;
}

#settings-el {
    background-color: rgb(53, 53, 53);
    width: 500px;
    margin: 0 auto;
}

h1 {
    color: white;
}



.card-image {
    width: 100px;
    margin: 3px;
}